@import "src/atoms";

.wrapper {
  position: relative;
  z-index: 100;
}

.selectButton {
  background-color: $background-color;
  color: $text-main;
  border: 2px $secondary-color solid;
  margin-left: auto;
  transition: background-color .2s;

  span {
    margin-right: .5rem;
    font-size: 14px;
  }

  svg {
    height: 10px;
    width: 10px;
    fill: $text-main;
    transform: rotate(90deg);
  }

  &:hover {
    background-color: $secondary-color;
  }
}

@keyframes appear {
  0% {
    margin-top: 0;
    opacity: 0;
  }
  100% {
    margin-top: 14px;
    opacity: 1;
  }
}

.popup {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: $secondary-color;
  padding: .5rem;
  border-radius: 5px;
  animation: appear .2s forwards;

  svg {
    position: absolute;
    top: -10px;
    right: 1rem;
    height: 14px;
    width: 14px;
    transform: rotate(-90deg);
    fill: $secondary-color;
  }
}

.item {
  background-color: $secondary-color;
  border: 2px $secondary-color solid;
  border-radius: 5px;
  color: $text-main;
  transition: background-color .2s;

  &:hover {
    background-color: $background-color
  }
}